{% extends "base.html" %}
{% block title %} Register {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 mx-auto">
        <h4 class="text-center my-3">Настройки</h4>
        <form method="POST" action="">{% csrf_token %}
           <div class="form-group">
                  {{ form.as_p }}
           </div>
           <button type="submit" class="btn btn-primary">Сохранить</button>
       </form><br>
        <form method="POST" action="{% url 'accounts:delete' %}">{% csrf_token %}
            <button type="submit" class="btn btn-danger">Удалить</button>
       </form>
    </div>
</div>
<div class="row my-5">
    <div class="col-md-8 mx-auto">
        <p class="text-center my-3">
            Если на нашем ресурсе, отсутствуют интересующие Вас города и специальности,
            заполните приведенную форму и укажите Ваши пожелания. После того, как мы добавим необходимые данные,
            Вы получите письмо на указанный Вами email.
        </p>
        <form method="POST" action="{% url 'accounts:contact' %}">{% csrf_token %}
           <div class="form-group">
                  {{ contact_form.as_p }}
           </div>
           <button type="submit" class="btn btn-primary">Отправить</button>
       </form>
    </div>
</div>
{% endblock %}